{% extends "navigation.html" %}
{% block content %}
<body>
    <h1>Home</h1>
    <h5>{{message}}</h5>

    <h3>Top stories choosed for you</h3>
    {%if suggested_stories%}
    <ul>
        {% for story in suggested_stories: %}
            <li>
                <h3 style="display: inline;"> <a href="/story/{{story['id']}}">{{story['title']}}</a></h3>
                <p style="display: inline;">by <a href="/wall/{{story['author_id']}}">{{story['author_name']}}</a></p>
                <p style="white-space: nowrap;overflow: hidden; text-overflow: ellipsis; max-width: 400px;"><i>"{{story['text']}}"</i></p>
                <p>Likes: {{story['likes']}} Dislikes: {{story['dislikes']}} ({{story['date']}})</p>
            </li>
        {% endfor %}
    </ul>
    {%else%}
    <h4>No story choosed for you. <a href="/stories/new_story">Try to write something first</a></h4>
    {%endif%}

    <h3>Your favorite writers's stories</h3>
    {%if followed_stories%}
    <ul>
    {% for story in followed_stories: %}
        <li>
            <h3 style="display: inline;"> <a href="/story/{{story['id']}}">{{story['title']}}</a></h3>
            <p style="display: inline;">by <a href="/wall/{{story['author_id']}}">{{story['author_name']}}</a></p>
            <p style="white-space: nowrap;overflow: hidden; text-overflow: ellipsis; max-width: 400px;"><i>"{{story['text']}}"</i></p>
            <p>Likes: {{story['likes']}} Dislikes: {{story['dislikes']}} ({{story['date']}})</p>
        </li>
    {% endfor %}
    </ul>
    {%else%}
        <h4>No stories yet from your following writers. <a href="/explore">Try to find new ones!</a></h4>
    {%endif%}
</body>
{%endblock%}
